[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
ipywidgets = "*"
numpy = "*"
pandas = "*"
nltk = "*"
spacy = "*"
requests = "*"
beautifulsoup4 = "*"
transformers = "*"
torch = "*"
sentence-transformers = "*"
openai = "*"
python-dotenv = "*"
sumy = "*"
wikipedia-api = "*"
scikit-learn = "*"
plotly = "*"
datasets = "*"
evaluate = "*"
rouge-score = "*"

[dev-packages]

[requires]
python_version = "3.9"
